In [194]:
import pandas as pd
def rnorm(df):
    '''Normalise dataframe rows'''
    if isinstance(df, pd.Series):
        df = df.div(df.sum(),axis=0)
    else:
        df = df.div(df.sum(axis = 1),axis=0)
    return df

def cnorm(df):
    '''Normalise dataframe columns'''
    if isinstance(df, pd.Series):
        #df = df.iloc[:,-1]
        d = df.iloc[:,-1].div(df.iloc[:,-1].sum(),axis=0)
    else:
        d = df.div(df.sum(),axis=1)
    return d

def cpd(df, factors):
    '''Get normalised cpd table'''
    df = df.groupby(by=factors).sum().unstack() #factorise dataframe
    normalise = rnorm(df) #normalise to get probability distribution back
    return normalise

def condition(df, node, val, factors):
    '''Reason on cpd table'''
    df = df[df[node] == val].groupby(by=factors).sum().unstack() #factorise dataframe
    normalise = cnorm(df) #normalise to get probability distribution back
    return normalise 

joint = pd.read_csv('BNJoint.csv')
joint.columns = ['D','I','S','G','L','P']
joint.head()

    D   I   S   G   L         P
0  d0  i0  s0  g1  l0  0.011970
1  d0  i0  s0  g1  l1  0.107730
2  d0  i0  s0  g2  l0  0.063840
3  d0  i0  s0  g2  l1  0.095760
4  d0  i0  s0  g3  l0  0.118503

In [199]:
print(joint.head())
print(cpd(joint, ['D']))
cpd1 = cpd(joint, ['I','D','G'])
print(cpd1)
cpd2 = condition(joint, 'G', 'g3', ['D','G'])
print(cpd2)

    D   I   S   G   L         P
0  d0  i0  s0  g1  l0  0.011970
1  d0  i0  s0  g1  l1  0.107730
2  d0  i0  s0  g2  l0  0.063840
3  d0  i0  s0  g2  l1  0.095760
4  d0  i0  s0  g3  l0  0.118503
   D
P  d0    0.6
   d1    0.4
dtype: float64
          P
G        g1    g2    g3
I  D
i0 d0  0.30  0.40  0.30
   d1  0.05  0.25  0.70
i1 d0  0.90  0.08  0.02
   d1  0.50  0.30  0.20
           P
G         g3
D
d0  0.370709
d1  0.629291

In [212]:
d = {'Tr':['t1', 't1', 't1', 't1'],'Pres':['p0', 'p0', 'p1', 'p1'],'Acc':['a0', 'a1', 'a0', 'a1'],'P':[0.1, 0.5, 0.6, 0.9]}
tpa_cpd = pd.DataFrame(data = d)
tpa_cpd = tpa_cpd[['Tr','Pres','Acc','P']]
condition(tpa_cpd, 'Pres', 'p1', ['Pres','Acc','Tr'])

            P
Tr         t1
Pres Acc
p1   a0   0.4
     a1   0.6