In [71]:
import pandas as pd
def normalise(df):
    '''Normalise dataframe rows'''
    df = df.div(df.sum(axis = 1),axis=0)
    return df

joint = pd.read_csv('BNJoint.csv')
joint.columns = ['D','I','S','G','L','P']

In [20]:
joint.groupby(by=['D']).sum()

      P
D
d0  0.6
d1  0.4

In [80]:
cpd = joint.groupby(by=['I','D','G']).sum().unstack()
normalise(cpd)

       P
S     s0    s1
I
i0  0.95  0.05
i1  0.20  0.80

In [79]:
cpd = joint[joint.G =='g3'].groupby(by=['D','G']).sum() #condition on g3
cpd

            P
D  G
d0 g3  0.1296
d1 g3  0.2200